<!DOCTYPE html>
<html >
<head>
  <?php $SRC = CLIENT_SRC; ?>
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title><?php echo PLTF_NAME;?></title>
  <link rel="stylesheet" type="text/css" href="{$SRC}/css/global.css">
  <link rel="stylesheet" type="text/css" href="{$SRC}/css/lists.css">

</head>

<body>
<header>
<a class="return" href="{:U('Client/Order/myOrder')}">&lt;返回</a>
订单详情<a href="tel:{$data['rst_phone']}" class="changeCity">餐厅电话</a></header>
  <div class="outerConetent" >
    
<div class="resturantList borderBo">
 <p class="resturant_itemfordate AforStyle " >{$data['cTime']}</p>
 
  <div class="torder-summary">
   <div  class="torder-status ng-isolate-scope blue AforStyle">
    <p class="clerify">
              <if condition="$data['status'] == 1"><span class="confirm">订单已确认</span>
                <elseif condition="$data['status'] == 0"/><span class="unconfirm">未确认</span>
                <elseif condition="$data['status'] == 3"/><span class="invalid">订单无效:<br/>{$data['reason']}</span>
              </if>
      </p>   
   </div>
    <div class="torder-rst">
      <img src="{$data['logo_url']}">
      <div class="torder-misc">
        
        
         <h3 class="resturant_itemforhead"><a href="{:U('Home/rst/index')}?id={$data['r_ID']}">{$data['r_name']}</a></h3>
            <p class="AforStyle">￥{$data['total']}</p>
      </div>
    </div>
   
  </div>
</div>


<div class="resturant_item">
  <h3 class="itemforhead" >
    <span class="foodList_title">美食列表</span>
    <span class="foodList" >
      <span class="foodListCount red">×{$data['item_count']}</span>
      <span class="red foodprice-title">￥{$data['total']}</span>
      <!-- <strong>{$data['total']}</strong> -->
    </span>
    <div class="clear"></div>
  </h3>
  <div>
    <ul class="foodListforUl"  >
      <foreach name="data['items']" item="item">
        <li>
          <span class="AforStyle" >{$item['name']}</span>
          <span class="foodList">
            <span class="foodListCount">×{$item['count']}</span>
            <span class="foodprice">￥{$item['total']}</span>
          </span>
          <div class="clear"></div>
        </li>
      </foreach>
    </ul>
  </div>
</div>
<div class="clear"></div>

<div class="resturant_item" >
 <h3 class="itemforhead" >订单信息
   
  </h3>
  
  <ul class="itemforList">
    <li class="AforStyle">姓名： {$data['c_name']}</li>
     <li class="AforStyle">地址：{$data['c_address']}</li>
      <li class="AforStyle">电话： {$data['c_phone']}</li>
       <li class="AforStyle">支付：（目前只支持）餐到付款</li>
        <li class="AforStyle">订单号：{$data['guid']}</li>
         <li class="AforStyle">备注：{$data['note']}</li>
 
  </ul>
</div>
</div>
  </div>

</body></html>