

/*全局样式*/
*{
	margin: 0px;
	padding: 0px;
}
img{
	border: 0px;
}
body{
	height: 100%;
}
/*头部样式*/
header{
	position: fixed;
	top:0px;
	left: 0px;
	height: 45px;
	width:100%;
	background-color: rgb(49,153,232);
	color: rgb(255,255,255);
	line-height: 45px;
	text-align: center;
	font-size: 1em;
	z-index: 10;

}

header .return{
	/*position: relative;*/
	position: fixed;
	left: 0;
	text-decoration: none;
	margin-left: 10px;
    text-align: center;
    color: rgb(255,255,255);
}
header .headerCenter{
	color: rgb(255,255,255);
	text-decoration: none;
	height: 35px;
	line-height: 35px;
	display: inline-block;
}


header .changeCity,header .rst-phone{
	position: fixed;
	right: 0;
	color: rgb(255,255,255);
	text-decoration: none;
	margin-right: 10px;
	height: 45px;
	line-height: 45px;
}

.footer{
	display: block;
	height: 35px;
	line-height: 35px;
	background-color: rgb(76,218,100);
	clear: both;
	text-align: center;
	color: rgb(255,255,255);
	margin-top: 5px;
	text-decoration: none;
	font-size: 20px;
}

.gray{
	background: rgb(240,240,240);
	margin-top: 0 !important;
}
.gray *{
	opacity: 0.8;
}
body{
	overflow-x:hidden;
}
